* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
}

body,
html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu.container {
  background-color: #f6f6f6;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  top: -53px;
}
@media (min-width: 1440px) {
  .menu.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 9%;
    margin-left: 19%;
    padding-right: 9%;
    margin-right: 18%;
  }
}

.menu__title {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand", sans-serif;
  color: #101010;
  margin-top: 50px;
  margin-left: 15px;
}

// .menu__title .header_txt img {
//   display: flex;
//   justify-content: center;
// }

// .menu__title .logo {
//   display: flex;
//   justify-content: center;
// }

// .menu__title .menu__header {
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   margin-left: 5px;
//   margin-left: 15px;
// }

.menu__btn {
  border: white;
  background-color: #f6f6f6;
}

.menu__like {
  padding-top: 49px;
  padding-left: 30px;
  font-size: 25px;
}

.menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: itemAppear 0.6s;
  animation: itemAppear 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}

// .menuItem__header {
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   overflow: hidden;
//   flex: 1;
// }

.menuitem__content {
  flex: 1;
  margin-left: 13px;
}

// .menu__title .submenu {
//   display: flex;
//   flex-direction: column;
// }

// .menu__title__title {
//   margin-right: 100%;
// }

.menu.btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submenus {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 21%;
  padding-right: 21%;
}
@media (min-width: 375px) {
  .submenus {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    margin-left: 17px;
  }
}

.submenu__title {
  text-decoration: underline #99e2d0 3px;
  margin-bottom: 9px;
}

.menuItem__description {
  margin-top: 10px;
}

.menuItem__price {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  margin-top: 28px;
}

.menu__confirmation {
  display: flex;
  justify-content: center;
}

.menuItem:hover .menuItem__confirmation {
  margin-right: -1rem;
}

.menuItem__icon {
  display: flex;
  justify-content: center;
}

.fa-check:before {
  display: flex;
  justify-content: center;
}

.fa-solid {
  color: #000;
  margin-top: 25px;
}

.header {
  padding: 1rem 1rem;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1000;
}

.header__logo {
  font-style: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.herologo {
  margin-left: 25%;
  padding-block: 30px;
}

.wrapBtn {
  margin-left: 39%;
  padding-bottom: 30px;
}

.hero__btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.hero__btn a {
  text-decoration: none;
  color: inherit;
}
.hero__btn {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 15px 25px;
  border-radius: 200px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.hero {
  padding: 2rem;
  padding-bottom: 5rem;
  text-align: center;
  background-color: rgb(250, 250, 250);
}

.hero__title {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

.hero__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
  padding-bottom: 2rem;
}

.tuto__title {
  margin-top: 0;
}

// .tuto__title .tuto__steps {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   counter-reset: compteListe;
// }

.tuto__step {
  padding: 1.5rem;
  margin: 2rem 9px 0 9px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}

.tuto__step:hover {
  margin-bottom: 0;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background: white;
}

.tuto__step::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}

.tuto__icon {
  margin-right: 1rem;
  color: #7e7e7e;
  display: contents;
}
@media (min-width: 1024px) {
  .tuto {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 29px;
  }
}

.restaurants {
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  position: center;
}

.local {
  display: flex;
  padding: 7px 0 20px 87px;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  font-size: 0.9rem;
  position: relative;
}

.menu__header {
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 1024px) {
  .menu__header {
    justify-content: center;
  }
}

.card__like {
  color: black;
  margin-left: 22px;
  margin-top: -39px;
  margin-right: 13px;
}
.card__like:hover {
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
  margin-top: 10px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    width: 65rem;
  }
}

@media (min-width: 1024px) {
  .local {
    display: flex;
    padding: 7px;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    font-size: 0.9rem;
    position: relative;
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    width: 65rem;
  }
}

.cardsmenu {
  background-color: #ffffff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: flex;
  padding: 14px 14px 0px 18px;
  justify-content: space-around;
  margin-bottom: 16px;
}

.cardmenu {
  gap: 5px;
}

.card__subtitle {
  margin: 0;
}

.heroImg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

/*Enlever les doublons*/
.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
}

.menu .header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}

.local__icon {
  margin-right: 1rem;
}

.local__text {
  font-weight: 700;
}

.tuto {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.tuto__steps {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
  justify-content: space-between;
}

.card__img {
  height: 15rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  background: #99e2d0;
  top: 61px;
  right: 20px;
  width: 10%;
  height: 6%;
}
@media (min-width: 1024px) {
  .card__badge1 {
    padding: unset;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
  }
}

.card__content {
  flex: 1;
  text-decoration: none;
  color: #000;
}

/*style.css*/

.search-input {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  border: none;
  background-color: rgb(243, 243, 243);
  justify-content: center;
  margin-left: 13px;
  font-weight: 400;
}

// .header .logo .local {
//   display: flex;
//   justify-content: center;
//   padding: 1rem 1rem;
//   box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
// }

// .header .logo .local header {
//   display: flex;
//   justify-content: center;
// }

// .header .logo .local .input-container {
//   position: relative;
// }

// .header .logo .local .tuto {
//   margin-top: 2rem;
//   margin-bottom: 2rem;
//   padding: 1rem;
// }

// .header .logo .local .tuto__steps {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   counter-reset: compteListe;
// }

// .header .logo .local .tuto__step {
//   padding: 1.5rem;
//   margin: 1rem 0 1rem 0.75rem;
//   box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
//   border-radius: 1.25rem;
//   background-color: #f6f6f6;
//   display: flex;
//   position: relative;
// }

// .header .logo .local .tuto__step:first-child {
//   margin-top: 0;
// }

// .header .logo .local .tuto__step:last-child {
//   margin-bottom: 0;
// }

// .header .logo .local .tuto__step::before {
//   counter-increment: compteListe 1;
//   content: counter(compteListe) " ";
//   background: #9356dc;
//   height: 1.5rem;
//   width: 1.5rem;
//   border-radius: 100px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   position: absolute;
//   left: -0.75rem;
// }

// .header .logo .local .tuto__icon {
//   margin-right: 1rem;
//   color: #7e7e7e;
// }

// .header .logo .local .tuto a {
//   text-decoration: none;
//   color: black;
// }

// .header .logo .local .restaurants {
//   padding: 1rem;
//   padding-top: 2rem;
//   padding-bottom: 5rem;
//   background-color: #f6f6f6;
// }

// .header .logo .local .card {
//   background-color: white;
//   border-radius: 1rem;
//   position: relative;
//   text-decoration: none;
//   color: inherit;
//   display: block;
// }

// .header .logo .local .card__title {
//   margin: 0;
//   margin-bottom: 0.25rem;
// }

// .header .logo .local .card__subtitle {
//   margin: 0;
// }

// .header .logo .local .card__btn {
//   height: 2rem;
//   width: 2rem;
//   background-color: transparent;
//   border: transparent 0px solid;
//   padding: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .header .logo .local .hero__btn {
//   border: 0;
//   padding: 0.75rem 1.5rem;
//   font-weight: 500;
//   font-size: 1.1rem;
//   border-radius: 100px;
//   color: white;
//   background-color: rgb(104, 104, 104);
//   background-image: linear-gradient(0deg, #782cd3 0%, #ff46cc 100%);
//   cursor: pointer;
//   transition-duration: 0.25s;
//   box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
// }

// .header .logo .local .hero__btn:hover {
//   background-color: white;
//   box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
//   opacity: 0.8;
//   cursor: pointer;
//   -webkit-transition: 0.3s;
//   transition: 0.3s;
//   -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
//   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
// }

// .header .logo .local .hero__btn a {
//   text-decoration: none;
//   color: inherit;
// }

// .header .logo .local .card__footer {
//   padding: 1rem;
//   position: relative;
//   display: flex;
//   align-items: center;
// }

// .header .logo .local .footer {
//   background-color: #353535;
// }

// .header .logo .local .footer__logo {
//   color: white;
//   font-style: "Shrikhand", "cursive";
//   margin: 0;
//   font-size: 1.2rem;
//   margin-bottom: 1rem;
// }

// .header .logo .local .footer__icon {
//   width: 1.2rem;
//   margin-right: 0.5rem;
// }

// .header .logo .local .footer__list {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }

// .header .logo .local .footer .container {
//   display: flex;
//   flex-direction: column;
//   padding: 1rem;
// }

@media (min-width: 1024px) {
  .header {
    padding: unset;
  }
}

@media (max-width: 375px) {
  .footer .container {
    padding-left: 0;
    background-color: #353535;
    text-align: center;

    &.footer__logo {
      width: 100%;
    }
  }
}
.footer__list {
  list-style-type: none;
}

@media (min-width: 1024px) {
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .footer .container {
    flex-direction: row-reverse;
    align-items: center;
    gap: 84px;
    padding: 10px;
    margin-top: 90px;
    display: flex;
  }
}
@media (min-width: 375px) {
  .card__footer {
    display: flex;
    padding: 0px;
    align-items: center;
    height: 79px;
    margin-left: 12px;
  }
}

.footer__listElt {
  display: inline;
  margin: 0 10px;
}

.footer__link {
  color: white;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: 0px;
}

.footer__title {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .fa-solid {
    color: #000;
  }
}

@media (min-width: 1024px) {
  .tuto__step {
    padding: 1.5rem;
    margin: 0px 0px 0rem 0px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    align-items: flex-end;
    gap: 21px;
  }
}
@media (min-width: 1024px) {
  .tuto__steps {
    list-style: none;
    counter-reset: compteListe;
    display: block;
  }
}
@media (min-width: 1440px) {
  .tuto__steps {
    padding: 1.5rem;
    margin: 0px 0px 0rem 0px;
    box-shadow: 0px 0 rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
  }
}

@media (min-width: 1024px) {
  .cardsmenu {
    padding: 13px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    align-items: flex-end;
    gap: 21px;
  }
}

.card {
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
}

@media (max-width: 1024px) {
  .restaurants {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-color: #f6f6f6;
  }
}

.card:hover {
  margin-bottom: 0px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px 0px;
  background: white;
}

@media (max-width: 1024px) {
  .hero__btn {
    margin-left: 0px;
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: white;
    background-color: rgb(104, 104, 104);
    background-image: linear-gradient(0deg, #782cd3 0%, #ff46cc 100%);
    cursor: default;
    transition-duration: 0.5s;
    box-shadow: 1.25rem 1.25rem 10px rgba(0, 0, 0, 0.25);
  }
}

.card__btn {
  padding-right: 5px;
  background-color: transparent;
  border: transparent 0px solid;
  align-self: center;
}

@media (min-width: 1024px) {
  .herologo {
    margin-left: 43%;
    padding-block: 30px;
  }
}

@media (min-width: 1440px) {
  .tuto__steps {
    padding: 1.5rem;
    margin: 0px 0px 0rem 0px;
    box-shadow: 0px 0 rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
  }
}
// @media (min-width: 1024px) {
//   .header .logo .local .tuto__steps {
//     display: flex;
//     max-width: 85%;
//     padding-left: 4rem;
//   }
// }

// @media (min-width: 1024px) {
//   .header .logo .local .tuto__step {
//     flex: 1;
//     margin: 0;
//     margin-left: 2rem;
//   }

//   .header .logo .tuto__step:first-child {
//     margin-left: 0.75rem;
//     margin-top: 0;
//   }
// }

@media (min-width: 1024px) {
  .card__content {
    flex: 1;
    text-decoration: none;
    color: #000;
    margin-left: 21px;
    margin-top: 15px;
  }
}

// @media (min-width: 1024px) {
//   .header .logo .footer .container {
//     flex-direction: row-reverse;
//     align-items: center;
//     gap: 7px;
//   }
// }

// @media (min-width: 1024px) {
//   .header .logo .footer__logo {
//     width: 137px;
//     margin: 0;
//     margin-left: 6rem;
//   }
// }

// @media (min-width: 1024px) {
//   .header .logo .footer__list {
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     height: 114px;
//     gap: 16px;
//   }
// }

// @media (min-width: 1024px) {
//   .header .logo .tuto__title {
//     padding-left: 4rem;
//   }
// }

// @media (min-width: 1024px) {
//   .header .logo .restaurants {
//     display: flex;
//     justify-content: center;
//   }
// }

// @media (min-width: 1024px) {
//   .header .logo .restaurants {
//     display: flex;
//     justify-content: center;
//   }
// }

// @media (min-width: 1024px) {
//   .header .logo .cards {
//     grid-template-columns: repeat(2, 1fr);
//     width: 65rem;
//   }
// }

// @media (min-width: 1024px) {
//   .header .logo .tuto__steps {
//     display: flex;
//     max-width: 85%;
//     padding-left: 4rem;
//   }

//   .header .logo .tuto__title {
//     padding-left: 4rem;
//   }
// }

// @media (min-width: 1024px) {
//   .header .logo .tuto__steps {
//     display: flex;
//     max-width: 85%;
//     padding-left: 4rem;
//   }
// }

// @media (min-width: 1024px) {
//   .header .logo .local .tuto__step {
//     flex: 1;
//     margin: 0;
//     margin-left: 2rem;
//   }

//   .header .logo .local .tuto__step:first-child {
//     margin-left: 0.75rem;
//   }
// }

// @media (min-width: 1024px) {
//   .header .logo .local .tuto__step {
//     flex: 1;
//     margin: 0;
//     margin-left: 2rem;
//   }
// }
