* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
}

body,
html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu.container {
  background-color: #f6f6f6;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  top: -53px;
}

@media (min-width: 1024px) {
  .menu.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 9%;
    margin-left: 14%;
    padding-right: 9%;
    margin-right: 14%;
    top: -46px;
  }
}
.menu__title {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand", sans-serif;
  color: #101010;
  margin-top: 80px;
  margin-left: 15px;
  font-size: 27px;
}

@media (min-width: 1024px) {
  .menu__title {
    margin-top: 52px;
    margin-left: 21px;
  }
}
.menu__btn {
  border: white;
  background-color: #f6f6f6;
}

.menu__like {
  padding-top: 49px;
  padding-left: 30px;
  font-size: 25px;
}

.menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}

.menuitem__content {
  flex: 1;
  margin-left: 13px;
}

.menu.btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submenus {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: -7px;
  margin-top: -73px;
}

@media (min-width: 1024px) {
  .submenus {
    margin-left: 73px;
    margin-right: 72px;
    margin-top: -83px;
  }
}
.submenu__title {
  -webkit-text-decoration: underline #99e2d0 3px;
          text-decoration: underline #99e2d0 3px;
  margin-bottom: -29px;
  padding: 34px;
}

@media (min-width: 1024px) {
  .submenu__title {
    margin-bottom: -29px;
  }
}
.menuItem__description {
  margin-top: 10px;
}

.menuItem__price {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  margin-top: 28px;
}

.menu__confirmation {
  display: flex;
  justify-content: center;
}

.menuItem:hover .menuItem__confirmation {
  margin-right: -1rem;
}

.menuItem__icon {
  display: flex;
  justify-content: center;
}

.fa-check:before {
  display: flex;
  justify-content: center;
}

.header {
  padding: 1rem 1rem;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1000;
}

.header__logo {
  font-style: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.herologo {
  margin-left: 13%;
}

.wrapBtn {
  padding-bottom: 30px;
  text-align: center;
}

.hero__btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.hero__btn a {
  text-decoration: none;
  color: inherit;
}

.hero__btn {
  opacity: 1;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 17px 58px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1024px) {
  .hero__btn {
    padding: 17px 59px;
  }
}
.hero {
  padding: 2rem;
  padding-bottom: 5rem;
  text-align: center;
  background-color: rgb(250, 250, 250);
}

.hero__title {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .hero__title {
    font-size: 37px;
  }
}
.hero__subtitle {
  font-weight: 300;
  margin: 13px 0;
  padding-bottom: 2rem;
}

.tuto__title {
  margin-top: 0;
}

.tuto__step {
  padding: 1.5rem;
  margin: 2rem 9px 0 9px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}

.tuto__step:hover {
  margin-bottom: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background: white;
}

.tuto__step::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}

.tuto__icon {
  margin-right: 1rem;
  color: #7e7e7e;
  display: contents;
}

@media (min-width: 1024px) {
  .tuto {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 29px;
  }
}
.text {
  margin-left: 8px;
}

.restaurants {
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #f6f6f6;
}

.local {
  display: flex;
  padding: 7px 0 20px 87px;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  font-size: 0.9rem;
  position: relative;
}

.menu__header {
  display: flex;
  justify-content: flex-start;
  height: 12rem;
}

@media (min-width: 1024px) {
  .menu__header {
    justify-content: center;
  }
}
.card__like {
  color: black;
  margin-bottom: 7rem;
  margin-right: 20px;
}

@media (min-width: 1024px) {
  .card__like {
    margin-bottom: 2rem;
  }
}
.card_heart {
  margin-top: 40px;
}

@media (min-width: 1024px) {
  .card_heart {
    margin-top: -58px;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 6rem;
  column-gap: 6rem;
  row-gap: 1rem;
  margin-top: 7px;
}
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    width: 65rem;
  }
}

.card__container {
  height: 14rem;
}

@media (min-width: 1024px) {
  .local {
    display: flex;
    padding: 7px;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    font-size: 0.9rem;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    width: 65rem;
    margin-left: 7rem;
  }
}
.cardsmenu {
  background-color: #ffffff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: flex;
  padding: 11px 18px 0px 15px;
  justify-content: space-around;
  margin-bottom: 29px;
}

.cardmenu {
  gap: 5px;
}

.card__subtitle {
  margin: 0;
}

.heroImg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1024px) {
  .heroImg {
    max-height: 24rem;
  }
}
/*Enlever les doublons*/
.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.restaurants__title {
  margin-top: 44px;
}

@media (min-width: 1024px) {
  .restaurants__title {
    margin-top: unset;
  }
}
.main {
  display: flex;
  justify-content: center;
}

.menu .header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}

.local__icon {
  margin-right: 1rem;
}

.local__text {
  font-weight: 700;
}

.tuto {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.tuto__steps {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
  justify-content: space-between;
}

.card__img {
  height: 83%;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  row-gap: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 2px;
}

@media (min-width: 1024px) {
  .card__img {
    height: 12rem;
    margin-top: 24px;
  }
}
.card__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #99e2d0;
  top: 61px;
  right: 20px;
  width: 23%;
  height: 2%;
}

@media (min-width: 1024px) {
  .card__badge {
    padding: unset;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    width: 13%;
    height: 4%;
  }
}
.card__content {
  flex: 1;
  text-decoration: none;
  color: #000;
  margin-top: -83px;
  font-size: 16px;
}

/*style.css*/
.search-input {
  font-size: 18px;
  font-weight: bold 400;
  color: #000;
  border: none;
  background-color: rgb(243, 243, 243);
  justify-content: center;
  margin-left: 13px;
}

@media (min-width: 1024px) {
  .header {
    padding: unset;
  }
}
.footer .container {
  padding-left: 0;
  background-color: #353535;
  text-align: center;
}
.footer .container.footer__logo {
  width: 100%;
}

.footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 11px;
}

@media (min-width: 1024px) {
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: unset;
    text-align: unset;
    margin-left: unset;
  }
}
@media (min-width: 1024px) {
  .footer .container {
    flex-direction: row-reverse;
    align-items: center;
    gap: 24px;
    padding: 0;
    margin-top: 0;
    display: flex;
  }
}
.card__footer {
  display: flex;
  padding: 0px;
  align-items: center;
  height: 79px;
  margin-left: 12px;
}

.footer__listElt {
  display: inline;
  margin: 0 10px;
  padding-bottom: 8px;
}

@media (min-width: 1024px) {
  .footer__listElt {
    padding-bottom: unset;
  }
}
.footer__link {
  color: white;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  margin-top: -20px;
}

@media (min-width: 1024px) {
  .footer {
    margin-top: -22px;
  }
}
.footer__title {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 18px;
}

@media (min-width: 1024px) {
  .tuto__step {
    padding: 1.5rem;
    margin: 0px 0px 0rem 0px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    align-items: flex-end;
    gap: 21px;
  }
}
@media (min-width: 1024px) {
  .tuto__steps {
    list-style: none;
    counter-reset: compteListe;
    display: flex;
  }
}
@media (min-width: 1440px) {
  .tuto__steps {
    padding: 1.5rem;
    margin: 0px 0px 0rem 0px;
    box-shadow: 0px 0 rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
  }
}
@media (min-width: 1024px) {
  .cardsmenu {
    padding: 4px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    align-items: flex-end;
    gap: 21px;
  }
}
.card {
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  height: 16rem;
}

@media (min-width: 1024px) {
  .card {
    height: unset;
  }
}
@media (min-width: 1024px) {
  .restaurants {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-color: #f6f6f6;
  }
}
.card:hover {
  margin-bottom: 0px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px 0px;
  background: white;
}

@media (min-width: 1024px) {
  .hero__btn {
    margin-left: 0px;
    border: 0;
    padding: 12px 46px;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: white;
    background-color: rgb(104, 104, 104);
    background-image: linear-gradient(0deg, #782cd3 0%, #ff46cc 100%);
    cursor: default;
    transition-duration: 0.5s;
    box-shadow: 1.25rem 1.25rem 10px rgba(0, 0, 0, 0.25);
    margin-top: 26px;
  }
}
.card__btn {
  padding-right: 5px;
  background-color: transparent;
  border: transparent 0px solid;
  align-self: center;
}

@media (min-width: 1024px) {
  .herologo {
    margin-left: 43%;
    padding-block: 30px;
  }
}
@media (min-width: 1440px) {
  .tuto__steps {
    padding: 1.5rem;
    margin: 0px 0px 0rem 0px;
    box-shadow: 0px 0 rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
  }
}
@media (min-width: 1024px) {
  .card__content {
    flex: 1;
    text-decoration: none;
    color: #000;
    margin-left: 21px;
    margin-top: 15px;
  }
}/*# sourceMappingURL=style.css.map */